
        <section>
        <h1>I'm in the Servers Component</h1>
        <h1>NET22S. Jarno</h1>
        <p>Below this I have 1 Server Components. And I'm in Servers Component Template! Backticks template!</p>
        </section>

        <section>
        <button [disabled] = "!allowNewServer" class="btn btn-primary">Add Server</button>
        <p>{{allowNewServer}} - tämä on interpolation p-tagin sisällä, tämä näkyy selaimessa!</p> <!--string interpolation-->
        <p [innerHTML]="allowNewServer"> - tämä teksti sen sijaan ei näy selaimessa!</p> <!--property binding-->
        </section>
        <app-server></app-server>
        
        <!--
        <section class="app-server"></section>
        <section class="app-server"></section>
        -->